#formLogin {
  margin: auto;
}

#loginSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 10rem;
  background-color: var(--color-yellow--2);
  border-radius: 0.5em;
  padding: 2rem;
}

#row_input_button{
  display: flex;
  flex-direction: row;
}

fieldset {
  width: 100%;
}

input::placeholder {
  color: black;
}

#username {
  background-color: var(--color-yellow--1);
  padding: 1.5em;
  border-radius: 1em;
  width: 90%;
  font-size: 18px;
}
img {
  width: 200px;
}

#loginButton {
  border-radius: 1em;
  padding: 1.5rem;
  width: 20%;
  background-color: var(--color-yellow--1);
  font-size: 18px;
  font-weight: 1000;
}

#loginButton:hover::after {
  content: " & Catch em all";
}

.suprisepika {
  position: absolute;
  right: 6em;
  top: 6em;
  animation: pikasad infinite 3s ease-in-out;
}

#changeButtons {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  accent-color: var(--color-yellow--2);
}
@keyframes pikasad {
  0% {
  }

  50% {
  }

  60% {
    content: url("../../../assets/pikasad.png");
  }
}

.ash {
  position: absolute;
  left: 6em;
  top: 6em;
}

#buttonRadio{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-self: center;
}

.catch {
  animation: catch infinite 3s ease-in-out;
}

.frontPageLower {
  margin-bottom: 0.5em;
  font-size: 4em;
  font-family: coolFont, "Courier New", Courier, monospace;
}

@keyframes catch {
  0% {
    filter: saturate(100%);
    filter: drop-shadow(0 0.5rem #86a7e4);
  }

  50% {
    transform: translate(100%);

    filter: drop-shadow(2rem 0 0.5rem #00fcca);
  }

  100% {
    filter: drop-shadow(0 0.5rem #dafb04);
  }
}
