.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(1200px, 100vw);
  margin-top: 2rem;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
